.example-container {
  min-height: 200px;
  overflow: auto;
}

.example-table-container {
  position: relative;
  max-height: 500px;
  overflow: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.hover-table tr.mat-row:hover,
.hover-table tr.mat-mdc-row:hover {
  background-color: #f5f5f5 !important;
  cursor: pointer;
}

.prescription-row {
  cursor: pointer;
}
.prescription-row:hover {
  background: whitesmoke;
}
.expanded-row {
  background: #f5f5f5;
}
.prescription-detail-row {
  height: 0;
}
.prescription-detail {
  overflow: hidden;
}
.info-row {
  background-color: #fff9c4;
  color: #6d4c00;
}

.warning-row {
  background-color: #ffe5cc;
  color: #cc5200;
}

.danger-row {
  background-color: #f8d7da;
  color: #721c24;
}
