<div class="row">
  <div class="col-sm-7">
    <div class="row">
      <div class="col-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Filter By</mat-label>
          <mat-select #filterByInput [(ngModel)]="selectedFilter" (selectionChange)="getProducts()"
                      disableOptionCentering placeholder="Filter By">
            @for (filter of filter; track filter) {
              <mat-option [value]="filter.value">
                {{ filter.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-9">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <mat-label>Search</mat-label>
          <input
            matInput
            placeholder="Search..."
            #medicineNameInput
            (keyup.enter)="applyFilter()"
          />
        </mat-form-field>
      </div>
    </div>
    <mat-checkbox [(ngModel)]="includeZeroQty" (ngModelChange)="getProducts()" color="primary">Show Out-of-Stock Medicines</mat-checkbox>
    <mat-checkbox [(ngModel)]="includeExpired" (ngModelChange)="getProducts()" color="primary">Show Expired Medicines</mat-checkbox>
    <div class="example-table-container responsive-table">
      <table mat-table [dataSource]="productData" matSort matSortActive="product_name" matSortDisableClear
             matSortDirection="asc" class="hover-table">

        <!-- Product Name -->
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Product Name
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <div class="m-l-16" >
              <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                {{ row.brandName }}
              </h6>
              <span class="f-s-14 f-s-12">
                {{ row.productName }}
              </span>
            </div>
          </td>
        </ng-container>

        <!-- Unit -->
        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Unit
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <div class="m-l-16" >
              <span class="f-s-14 f-s-12">
                {{ row.unit | uppercase }}
              </span>
            </div>
          </td>
        </ng-container>

        <!-- Qty On Hand -->
        <ng-container matColumnDef="qtyOnHand">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Qty On Hand
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{ row.qtyOnHand }}
          </td>
        </ng-container>

        <!-- Selling Price -->
        <ng-container matColumnDef="sellingPrice">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Selling Price
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{ row.sellingPrice }}
          </td>
        </ng-container>

        <!-- Expiry Date -->
        <ng-container matColumnDef="expiryDate">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Expiry Date
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{ row.expiryDate }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="onRowClicked(i); currentSelectedProduct = row"
            [class.info-row]="isExpiryInRange(row.expiryDate, 4, 6)"
            [class.warning-row]="isExpiryInRange(row.expiryDate, 2, 3)"
            [class.danger-row]="isExpiryInRange(row.expiryDate, 0, 1)">
        </tr>
      </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="`${ pageSize }`"></mat-paginator>
  </div>

  <!-- Add Non Stock -->
  <div class="col" style="margin-top: 14px;" *ngIf="showAddNonStock">
    <h3 class="text-center">Add Non-Stock</h3>

    <form [formGroup]="prescriptionForm">
      <div class="row m-t-10">
        <!-- Brand Name -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Brand Name</mat-label>
            <input matInput placeholder="Brand Name" name="brandName" formControlName="brandName"/>
          </mat-form-field>
        </div>

        <!-- Product Name -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Name</mat-label>
            <input matInput placeholder="Product Name" name="productName" formControlName="productName"/>
          </mat-form-field>
        </div>

        <!-- Unit -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Unit</mat-label>
            <input matInput placeholder="Unit" name="unit" formControlName="unit"/>
          </mat-form-field>
        </div>

        <!-- Qty -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Qty</mat-label>
            <input matInput placeholder="Qty" name="qty" type="number" formControlName="qty"/>
          </mat-form-field>
        </div>

        <!-- Dosage -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Dosage</mat-label>
            <input matInput placeholder="Dosage" name="dosage" formControlName="dosage"/>
          </mat-form-field>
        </div>

        <!-- Instructions -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Instructions</mat-label>
            <input matInput placeholder="Instructions" name="instructions" formControlName="instructions"/>
          </mat-form-field>
        </div>

        <div class="col-6 d-flex">
          <button mat-flat-button color="primary" class="w-100"
                  [disabled]="prescriptionForm.invalid"
                  (click)="addNonStock();">
            Add
          </button>
        </div>
        <div class="col-6 d-flex">
          <button mat-flat-button color="primary" class="w-100" (click)="showAddNonStock = false">
            Back to Prescription Details
          </button>
        </div>
      </div>
    </form>

  </div>

  <!-- Product Details -->
  <div class="col" style="margin-top: 14px;" *ngIf="!showAddNonStock">
    <div class="row align-items-center mb-3">
      <div class="col-4 text-start">

      </div>
      <div class="col-4 text-center">
        <h3>Prescription Details</h3>
      </div>
      <div class="col-4 text-right">
      </div>
    </div>
    <div *ngIf="showEditPrescription">
      <div class="row m-t-10">
        <!-- Brand Name -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Brand Name</mat-label>
            <input matInput readonly placeholder="Brand Name" name="brandName" value="{{ selectedPrescription.brandName }}" />
          </mat-form-field>
        </div>

        <!-- Product Name -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Name</mat-label>
            <input matInput readonly placeholder="Product Name" name="productName" value="{{ selectedPrescription.productName }}" />
          </mat-form-field>
        </div>

        <!-- Unit -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Unit</mat-label>
            <input matInput readonly placeholder="Unit" name="unit" value="{{ selectedPrescription.unit | uppercase }}" />
          </mat-form-field>
        </div>

        <!-- Qty On Hand -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Qty On Hand</mat-label>
            <input matInput readonly placeholder="Qty" name="qty" type="number" value="{{ selectedPrescription.qtyOnHand }}" />
          </mat-form-field>
        </div>

        <!-- Qty -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Qty</mat-label>
            <input matInput placeholder="Qty" name="qty" #qtyInputRef type="number" [(ngModel)]="qty" />
          </mat-form-field>
        </div>

        <!-- Expiry Date -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Expiry Date</mat-label>
            <input matInput readonly placeholder="Expiry Date" name="expiryDate" value="{{ selectedPrescription.expiryDate }}" />
          </mat-form-field>
        </div>

        <!-- Dosage -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Dosage</mat-label>
            <input matInput placeholder="Dosage" name="dosage" #dosageInputRef [(ngModel)]="dosage" />
          </mat-form-field>
        </div>

        <!-- Instructions -->
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Instructions</mat-label>
            <input matInput placeholder="Instructions" name="instructions" #instructionsInputRef [(ngModel)]="instructions" />
          </mat-form-field>
        </div>

        <div class="col-6 d-flex">
          <button mat-flat-button color="primary" class="w-100" (click)="updatePrescription();">
            Update
          </button>
        </div>
        <div class="col-6 d-flex">
          <button mat-flat-button color="primary" class="w-100" (click)="showEditPrescription = false">
            Back to Prescription Details
          </button>
        </div>
      </div>
    </div>

    <!-- Edit Prescription -->
    <div *ngIf="!showEditPrescription" class="example-table-container responsive-table" style="max-height: 550px;">
      <table mat-table [dataSource]="prescriptionDataSource" matSort matSortActive="product_name" matSortDisableClear
             matSortDirection="asc" class="hover-table">

        <!-- Product Name -->
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Product Name
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <div class="m-l-16" >
              <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                {{ row.brandName }}
              </h6>
              <span class="f-s-14 f-s-12" style="width: 200px; display: inline-block;">
                      {{ row.productName }}
                    </span>
              <h6 class="mat-subtitle-1 f-s-14 f-w-600 m-t-2 text-primary">
                Dosage: {{ row.dosage }}
              </h6>
              <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                Instructions: {{ row.instructions }}
              </h6>
            </div>
          </td>
        </ng-container>

        <!-- Unit -->
        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Unit
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <div class="m-l-16" >
              <span class="f-s-14 f-s-12">
                {{ row.unit | uppercase }}
              </span>
            </div>
          </td>
        </ng-container>

        <!-- Qty -->
        <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Qty
          </th>
          <!--<td mat-cell *matCellDef="let row; let i = index" (click)="onPrescriptionQtyClicked(row, i)">-->
          <td mat-cell *matCellDef="let row; let i = index">
            {{ row.quantity }}
          </td>
        </ng-container>

        <!-- Action -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
            Action
          </th>
          <td mat-cell *matCellDef="let row; let i = index">
            <i-tabler name="pencil" class="icon-20" (click)="editPrescription(row, i)"></i-tabler>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="prescriptionColumns; sticky: false"></tr>
        <tr mat-row *matRowDef="let row; columns: prescriptionColumns; let i = index"
            [class.info-row]="isExpiryInRange(row.expiryDate, 4, 6)"
            [class.warning-row]="isExpiryInRange(row.expiryDate, 2, 3)"
            [class.danger-row]="isExpiryInRange(row.expiryDate, 0, 1)">
      </table>
    </div>
  </div>
</div>
