<div class="d-flex align-items-center justify-content-between m-b-16 p-x-20 p-t-16">
  <h3>Add Additional Prescription - Patient Id: {{ data.patientId }}, Visit Id: {{ data.visitId }}</h3>
  <button
    mat-icon-button
    mat-dialog-close
    class="d-flex justify-content-center"
  >
    <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
  </button>
</div>

<mat-dialog-content>
  <div class="d-flex justify-content-end m-b-16">
    <button mat-flat-button color="primary w-100 col-5" (click)="addPrescription()">Save Changes</button>
  </div>
    <div class="f-s-14 p-16 rounded w-100">

      <app-prescription [addAdditionalPrescription]="true"></app-prescription>

    </div>
</mat-dialog-content>
