<div class="d-flex align-items-center justify-content-between m-b-16 p-x-20 p-t-16">
  <h3>Add Additional Prescription</h3>
  <button
    mat-icon-button
    mat-dialog-close
    class="d-flex justify-content-center"
  >
    <i-tabler name="x" class="icon-20 d-flex"></i-tabler>
  </button>
</div>

<mat-dialog-content>
<!--  <mat-card>-->
<!--    <mat-card-content>-->
      <!-- Bootstrap solution -->

<!--    </mat-card-content>-->
<!--  </mat-card>-->


  <mat-card>
    <mat-card-content>
      <div class="row-between-top">
        <div class="col-stack">
          <div class="line">
            <label>Patient Id: {{ data.patientId }}</label>
          </div>
          <div class="line">
            <label>Visit Id: {{ data.visitId }}</label>
          </div>
        </div>

        <button mat-flat-button color="primary" (click)="addPrescription()">Save Changes</button>
      </div>
      <mat-divider class="m-t-10"></mat-divider>
      <div class="f-s-14 p-16 rounded m-t-12 w-100">
        <app-prescription></app-prescription>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
