<small class="text-muted">* Required fields are marked with an asterisk</small>

<form [formGroup]="headerForm" class="m-t-20">

  <div class="d-flex gap-6">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Invoice No</mat-label>
      <input matInput placeholder="Invoice No" name="invoiceNo" formControlName="invoiceNo"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Invoice Date</mat-label>
      <input matInput [matDatepicker]="invoiceDate" formControlName="invoiceDate" readonly/>
      <mat-datepicker-toggle matIconSuffix [for]="invoiceDate"></mat-datepicker-toggle>
      <mat-datepicker #invoiceDate></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Supplier</mat-label>
    <input matInput placeholder="Supplier" #supplierNameInput required [matAutocomplete]="supplierAutoGroup" (click)="onInputSupplierClick();" name="supplier" [formControl]="headerForm.controls.supplierGroup"/>

    <mat-autocomplete #supplierAutoGroup="matAutocomplete" (optionSelected)="onSupplierSelected($event.option.value)">
      @for(group1 of supplierGroupOptions | async; track group1) {
        <mat-optgroup [label]="group1.letter">
          @for(name of group1.names; track name) {
            <mat-option [value]="name">
              {{ name }}
            </mat-option>
          }
        </mat-optgroup>
      }
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 m-t-10">
    <mat-label>Agent</mat-label>
    <input type="text" matInput required #agentNameInput [matAutocomplete]="autoGroup" (click)="onInputAgentClick();" [formControl]="headerForm.controls.agentGroup" />
    <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="onAgentSelected($event.option.value)">
      @for(group of agentGroupOptions | async; track group) {
        <mat-optgroup [label]="group.letter">
          @for(name of group.names; track name) {
            <mat-option [value]="name">
              {{ name }}
            </mat-option>
          }
        </mat-optgroup>
      }
    </mat-autocomplete>
  </mat-form-field>

  <div class="d-flex gap-8">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Discount (%)</mat-label>
      <input matInput placeholder="Discount (%)" name="discount" formControlName="discount"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Terms</mat-label>
      <mat-select formControlName="sex" disableOptionCentering placeholder="Terms" formControlName="terms">
        @for (terms of terms; track terms) {
          <!-- <mat-option [value]="gender === 'Male' ? 'M' : (gender === 'Female' ? 'F' : gender)">-->
          <mat-option [value]="terms.id">
            {{ terms.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</form>
