<mat-tab-group
  [selectedIndex]="selectedTabIndex"
  (selectedIndexChange)="selectedTabIndex = $event">
  <mat-tab label="List of Patients">
    <div class="example-container">

      <mat-card class="cardWithShadow">
        <mat-card-content>
          <div class="row">
            <div class="col-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Filter By</mat-label>
                <mat-select #filterByInput [(ngModel)]="selectedFilterBy" (selectionChange)="getPatientRecords()"
                            disableOptionCentering placeholder="Filter By">
                  @for (filter of filter; track filter) {
                    <mat-option [value]="filter.value">
                      {{ filter.name }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-8">
              <mat-form-field appearance="outline" class="w-100 hide-hint">
                <mat-label>Search</mat-label>
                <input
                  matInput
                  placeholder="Search..."
                  [(ngModel)]="searchQuery"
                  (keyup.enter)="applyFilter()"
                  #searchQueryInput
                />
              </mat-form-field>
            </div>
          </div>

          <div class="example-table-container responsive-table">
            <table mat-table [dataSource]="data" matSort matSortActive="date_created" matSortDisableClear
                   matSortDirection="desc" class="hover-table">
              <!-- Number Column -->
              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  #
                </th>
                <td mat-cell *matCellDef="let row; let i = index">{{ ((paginator.pageIndex * pageSize ) + i ) + 1 }}</td>
              </ng-container>

              <!-- Patient Id -->
              <ng-container matColumnDef="patientId">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  Patient ID
                </th>
                <td mat-cell style="color: #1976d2; cursor: pointer;" (click)="
                        viewPatientService.setPatientId(row.patientId);
                        selectedTabIndex = 3;
                        setViewTabPatientId(row.patientId);
                        disableViewTab = false;
                      "
                    class="patient-id-cell" *matCellDef="let row; let i = index">
                  {{ row.patientId }}
                </td>
              </ng-container>

              <!-- Patient Name -->
              <ng-container matColumnDef="patientName">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  Patient Name
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.lastName }}, {{ row.firstName }} {{ row.middleName }}
                </td>
              </ng-container>

              <!-- Address -->
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  Address
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.address }}
                </td>
              </ng-container>

              <!-- Date Created -->
              <ng-container matColumnDef="dateCreated">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  Date Created
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.dateCreated }}
                </td>
              </ng-container>

              <!-- Action -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  Action
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex align-items-center">
                    <a
                      mat-icon-button
                      (click)="
                        editPatientService.setPatientId(element.patientId); selectedTabIndex = 2;
                        setEditTabPatientId(element.patientId);
                        disableEditTab = false;
                      "
                      class="d-flex align-items-center justify-content-center"
                      [disabled]="element.markForInProgress == 1"
                    >
                      <i-tabler
                        name="pencil"
                        class="icon-18 d-flex align-items-center"
                      ></i-tabler>
                    </a>

                    <!-- Delete -->
                    <a
                      mat-icon-button
                      class="d-flex align-items-center justify-content-center"
                      [disabled]="element.reference > 0"
                      (click)="deletePatientRecord(element.patientId)"
                    >
                      <i-tabler
                        name="trash"
                        class="icon-18 d-flex align-items-center"
                      ></i-tabler>
                    </a>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>

          <mat-paginator [length]="resultsLength" [pageSize]="`${ pageSize }`"></mat-paginator>
        </mat-card-content>
      </mat-card>

    </div>
  </mat-tab>
  <mat-tab label="Add Patient">
    <app-add-patient></app-add-patient>
  </mat-tab>
  <mat-tab label="Edit Patient {{ editPatientId }}" [disabled]="disableEditTab">
    <app-edit-patient></app-edit-patient>
  </mat-tab>
  <mat-tab label="View Patient {{ viewPatientId }}" [disabled]="disableViewTab">
    <app-view-patient></app-view-patient>
  </mat-tab>
</mat-tab-group>
