<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Filter By</mat-label>
              <mat-select #filterByInput [(ngModel)]="selectedFilter" (selectionChange)="getPatientsTransactions()"
                          disableOptionCentering placeholder="Filter By">
                @for (filter of filter; track filter) {
                  <mat-option [value]="filter.value">
                    {{ filter.name }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-8">
            <mat-form-field appearance="outline" class="w-100 hide-hint">
              <mat-label>Search</mat-label>
              <input
                matInput
                placeholder="Search..."
                [(ngModel)]="searchName"
                (keyup.enter)="applyFilter()"
                #searchNameInput
              />
            </mat-form-field>
          </div>

          <div class="example-table-container responsive-table">
            <table mat-table [dataSource]="data" matSort matSortActive="product_name" matSortDisableClear
                   matSortDirection="asc" class="hover-table">

              <!-- Transaction Id -->
              <ng-container matColumnDef="posId">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  Transaction Id
                </th>
                <td mat-cell *matCellDef="let row; let i = index">
                  {{ row.posId }}
                </td>
              </ng-container>

              <!-- Patient Id -->
              <ng-container matColumnDef="patientId">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  Patient Id
                </th>
                <td mat-cell *matCellDef="let row; let i = index">
                  {{ row.patientId ? row.patientId : 'N/A' }}
                </td>
              </ng-container>

              <!-- Patient Name -->
              <ng-container matColumnDef="patientName">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  Patient Name
                </th>
                <td mat-cell *matCellDef="let row; let i = index">
                  <div class="m-l-16" >
                  <span class="f-s-14 f-s-12">
                    {{ row.patientName ? row.patientName : 'N/A' }}
                  </span>
                  </div>
                </td>
              </ng-container>

              <!-- Customer Order Type -->
              <ng-container matColumnDef="customerOrderType">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  Order Type
                </th>
                <td mat-cell *matCellDef="let row; let i = index">
                  {{ row.customerOrderType }}
                </td>
              </ng-container>

              <!-- Total Amount -->
              <ng-container matColumnDef="totalAmount">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  Total Amount
                </th>
                <td mat-cell *matCellDef="let row; let i = index">
                  {{ row.totalAmountDue }}
                </td>
              </ng-container>

              <!-- Date Created -->
              <ng-container matColumnDef="dateCreated">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  Date Created
                </th>
                <td mat-cell *matCellDef="let row; let i = index">
                  {{ row.dateCreated | date: 'MM/dd/yyyy HH:mm:ss' }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="getPurchaseDetail(row)"></tr>
            </table>
          </div>

          <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
        </div>

      </div>

      <div class="col-sm-6">
        <div>
          <strong>
            Transaction Id:
          </strong>
          {{ selectedPosHeader?.posId ? selectedPosHeader?.posId : 'N/A' }}
        </div>
        <div class="m-t-2">
          <strong>
            Patient Name:
          </strong>
          {{ selectedPosHeader?.patientName ? selectedPosHeader?.patientName : 'N/A' }}</div>
        <div class="m-t-2">
          <strong>
            Order Type:
          </strong>
          {{ selectedPosHeader?.customerOrderType ? selectedPosHeader?.customerOrderType : 'N/A' }}
        </div>
        <div class="m-t-2">
          <strong>Date Created:</strong>
          {{
            selectedPosHeader?.dateCreated ? (selectedPosHeader?.dateCreated | date: 'MM/dd/yyyy HH:mm:ss') : 'N/A'
          }}
        </div>

        <mat-divider class="m-t-10"></mat-divider>

        <div class="example-table-container responsive-table">
          <table mat-table [dataSource]="purchasedMedicines" matSort matSortActive="product_name" matSortDisableClear
                 matSortDirection="asc" class="hover-table">

            <!-- Brand Name -->
            <ng-container matColumnDef="medicineName">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                Medicine Name
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                  {{ row.brandName }}
                </h6>
                <span class="f-s-14 f-s-12">
                  {{ row.productName }}
                </span>
              </td>
            </ng-container>

            <!-- Qty -->
            <ng-container matColumnDef="qty">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                Qty
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <div class="m-l-16" >
                  <span class="f-s-14 f-s-12">
                    {{ row.qty }}
                  </span>
                </div>
              </td>
            </ng-container>

            <!-- Selling Price -->
            <ng-container matColumnDef="sellingPrice">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                Selling Price
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                {{ row.sellingPrice }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedPurchasedMedicinesColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedPurchasedMedicinesColumns"></tr>
          </table>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
