<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row">
      <div class="col-sm-4 text-left">
        <a mat-flat-button class="bg-error text-white" (click)="refreshPatientDiagnosis()">
          Refresh
        </a>
      </div>
      <div class="col-sm-8 text-right">
        <a mat-flat-button class="bg-error text-white m-r-10" *ngIf="showPrintMedicalCertificateButton" (click)="printMedicalCertificate()">
          Print Medical Certificate
        </a>
        <button mat-flat-button color="primary" (click)="updatePatientDiagnosis()"
                *ngIf="medicalSummaryComponent && showUpdateButton"
                [disabled]="medicalSummaryComponent.diagnosisForm.invalid">
          Update Patient Diagnosis
        </button>
        <button mat-flat-button color="primary" (click)="savePatientDiagnosis()"
                *ngIf="medicalSummaryComponent && showSaveButton && !showUpdateButton"
                [disabled]="medicalSummaryComponent.diagnosisForm.invalid">
          Save Patient Diagnosis
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-tab-group [selectedIndex]="0">
  <!-- Patient Information -->
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center">
        <mat-icon>
          <i-tabler name="info-circle" class="icon-20 m-r-8"></i-tabler>
        </mat-icon>
      </div>
      Patient Information
    </ng-template>
    <div class="f-s-14 p-16 rounded">
      <div class="text-right">
        <button mat-flat-button color="primary" class="m-b-20"
                (click)="updatePatientInformation()"
                [disabled]="patientForm.invalid">Update Patient Information</button>
      </div>
      <!-- <app-patient-information-medical-records [patientInformation]="patientInformation"></app-patient-information-medical-records> -->
      <form [formGroup]="patientForm">
        <div class="row">
          <!-- Patient Id -->
          <div class="col-lg-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Patient Id</mat-label>
              <input matInput readonly placeholder="Patient Id" formControlName="patientId" name="patientId" />
            </mat-form-field>
          </div>

          <!-- Visit Id -->
          <div class="col-lg-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Visit Id</mat-label>
              <input matInput readonly placeholder="Visit Id" formControlName="visitId" name="visitId" />
            </mat-form-field>
          </div>

          <!-- Visit Type -->
          <div class="col-lg-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Visit Type</mat-label>
              <mat-select formControlName="visitType" disableOptionCentering placeholder="Visit Type" required>
                @for (visit of visitType; track visit) {
                  <!--<mat-option [value]="gender === 'Male' ? 'M' : (gender === 'Female' ? 'F' : gender)">-->
                  <mat-option [value]="visit">
                    {{ visit }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

            <!-- Last Name -->
            <div class="col-lg-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" formControlName="lastName" name="lastName" />
              </mat-form-field>
            </div>

            <!-- First Name -->
            <div class="col-lg-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" formControlName="firstName" name="firstName" />
              </mat-form-field>
            </div>

            <!-- Middle Name -->
            <div class="col-lg-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Middle Name</mat-label>
                <input matInput placeholder="Middle Name" formControlName="middleName" name="middleName" />
              </mat-form-field>
            </div>

            <!-- Birth Date -->
            <div class="col-lg-6">
              <!--<mat-form-field appearance="outline" class="w-100">
                <mat-label>Birth Date</mat-label>
                <input matInput placeholder="Middle Name" value="{{ patientInformation?.birthDate | date: 'MM/dd/yyyy' }}" name="middleName" />
              </mat-form-field>-->

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Birth Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthDate" readonly required/>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- Address -->
            <div class="col-lg-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" formControlName="address" name="address" />
              </mat-form-field>
            </div>

            <!-- Gender -->
            <div class="col-lg-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="sex" disableOptionCentering placeholder="Gender" required>
                  @for (gender of gender; track gender) {
                    <!--<mat-option [value]="gender === 'Male' ? 'M' : (gender === 'Female' ? 'F' : gender)">-->
                    <mat-option [value]="gender">
                      {{ gender }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Contact Number -->
            <div class="col-lg-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Contact Number</mat-label>
                <input matInput placeholder="Contact Number" formControlName="contactNumber" name="sex" />
              </mat-form-field>
            </div>
        </div>
      </form>
    </div>
  </mat-tab>

  <!-- Vital Signs -->
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center">
        <mat-icon>
          <i-tabler name="activity-heartbeat" class="icon-20 m-r-8"></i-tabler>
        </mat-icon>
      </div>
      Vital Signs
    </ng-template>
    <div class="f-s-14 p-16 rounded m-t-12">
      <div class="text-right">
        <button mat-flat-button color="primary" class="m-b-20"
                (click)="updateVitalSigns()"
                [disabled]="vitalSignsForm.invalid">Update Vital Signs</button>
      </div>

      <form [formGroup]="vitalSignsForm">
        <div class="row">
          <!-- Weight -->
          <div class="col-lg-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Weight(kg)</mat-label>
              <input matInput placeholder="Weight(kg)"
                     formControlName="weight"
                     name="weight" />
            </mat-form-field>
          </div>

          <!-- Height -->
          <div class="col-lg-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Height(cm)</mat-label>
              <input matInput placeholder="Height(cm)"
                     formControlName="height"
                     name="height" />
            </mat-form-field>
          </div>

          <!-- Temperature -->
          <div class="col-lg-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Temperature</mat-label>
              <input matInput placeholder="Temperature"
                     formControlName="temperature"
                     name="temperature" />
            </mat-form-field>
          </div>

          <!-- Blood Pressure -->
          <div class="col-lg-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Blood Pressure</mat-label>
              <input matInput placeholder="Blood Pressure"
                     formControlName="bloodPressure"
                     name="bloodPressure" />
            </mat-form-field>
          </div>

          <!-- Heart Rate -->
          <div class="col-lg-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Heart Rate</mat-label>
              <input matInput placeholder="Heart Rate"
                     formControlName="heartRate"
                     name="heartRate" />
            </mat-form-field>
          </div>

          <!-- Oxygen Saturation -->
          <div class="col-lg-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Oxygen Saturation</mat-label>
              <input matInput placeholder="Oxygen Saturation"
                     formControlName="oxygenSaturation"
                     name="oxygenSaturation" />
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </mat-tab>

  <!-- Patient Medical Summary -->
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center">
        <mat-icon>
          <i-tabler name="clipboard-list" class="icon-20 m-r-8"></i-tabler>
        </mat-icon>
      </div>
      Patient Medical Summary
    </ng-template>
    <div class="f-s-14 p-16 rounded m-t-12">
      <div class="col-12 mt-2">
        <small class="text-muted">* Required fields are marked with an asterisk</small>
      </div>
      <app-medical-summary></app-medical-summary>
    </div>
  </mat-tab>

  <!-- Prescription -->
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center">
        <mat-icon>
          <i-tabler name="prescription" class="icon-20 m-r-8"></i-tabler>
        </mat-icon>
      </div>
      Prescription
    </ng-template>
    <div class="f-s-14 p-16 rounded m-t-12">
      <app-prescription></app-prescription>
    </div>
  </mat-tab>

  <!-- History -->
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center">
        <mat-icon>
          <i-tabler name="history" class="icon-20 m-r-8"></i-tabler>
        </mat-icon>
      </div>
      History
    </ng-template>
    <div class="f-s-14 p-16 rounded m-t-12">
      <div class="row">
        <div class="col-6">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Patient Visits</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <app-visits *ngIf="patientInformation" [patientId]="patientInformation.patientId" [showActionsButton]="true"></app-visits>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-6">
          <mat-card>
            <mat-card-header class="d-flex justify-content-between align-items-center">
              <mat-card-title>Patient Prescriptions</mat-card-title>
              <a mat-icon-button (click)="printPatientPrescription(true)">
                <i-tabler
                  name="printer"
                  class="icon-18"
                ></i-tabler>
              </a>
            </mat-card-header>
            <mat-card-content>
              <app-prescriptions></app-prescriptions>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
