<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row">
      <div class="col-sm-4 text-left">
        <a mat-flat-button class="bg-error text-white" (click)="refreshPatientDiagnosis()">
          Refresh
        </a>
      </div>
      <div class="col-sm-8 text-right">
        <a mat-flat-button class="bg-error text-white m-r-10" *ngIf="showPrintMedicalCertificateButton" (click)="printMedicalCertificate()">
          Print Medical Certificate
        </a>
        <button mat-flat-button color="primary" (click)="savePatientDiagnosis()"
                *ngIf="medicalSummaryComponent && showSaveButton"
                [disabled]="medicalSummaryComponent.diagnosisForm.invalid">
          Save Patient Diagnosis
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-tab-group [selectedIndex]="0">
  <!-- Patient Information -->
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center">
        <mat-icon>
          <i-tabler name="info-circle" class="icon-20 m-r-8"></i-tabler>
        </mat-icon>
      </div>
      Patient Information
    </ng-template>
    <div class="f-s-14 p-16 rounded m-t-12">
      <app-patient-information-medical-records [patientInformation]="patientInformation"></app-patient-information-medical-records>
    </div>
  </mat-tab>

  <!-- Vital Signs -->
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center">
        <mat-icon>
          <i-tabler name="activity-heartbeat" class="icon-20 m-r-8"></i-tabler>
        </mat-icon>
      </div>
      Vital Signs
    </ng-template>
    <div class="f-s-14 p-16 rounded m-t-12">
      <app-vital-signs [vitalSigns]="vitalSigns"></app-vital-signs>
    </div>
  </mat-tab>

  <!-- Patient Medical Summary -->
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center">
        <mat-icon>
          <i-tabler name="clipboard-list" class="icon-20 m-r-8"></i-tabler>
        </mat-icon>
      </div>
      Patient Medical Summary
    </ng-template>
    <div class="f-s-14 p-16 rounded m-t-12">
      <div class="col-12 mt-2">
        <small class="text-muted">* Required fields are marked with an asterisk</small>
      </div>
      <app-medical-summary></app-medical-summary>
    </div>
  </mat-tab>

  <!-- Prescription -->
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center">
        <mat-icon>
          <i-tabler name="prescription" class="icon-20 m-r-8"></i-tabler>
        </mat-icon>
      </div>
      Prescription
    </ng-template>
    <div class="f-s-14 p-16 rounded m-t-12">
      <app-prescription></app-prescription>
    </div>
  </mat-tab>

  <!-- Medical History -->
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center">
        <mat-icon>
          <i-tabler name="history" class="icon-20 m-r-8"></i-tabler>
        </mat-icon>
      </div>
      Medical History
    </ng-template>
    <div class="f-s-14 p-16 rounded m-t-12">
      <div class="row">
        <div class="col-6">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Patient Visits</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <app-visits *ngIf="patientInformation" [patientId]="patientInformation.patientId" [showActionsButton]="true"></app-visits>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-6">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Patient Prescriptions</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <app-prescriptions></app-prescriptions>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
