<mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onClickTab(selectedTabIndex)">
  <mat-tab label="List of Medicines">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <div class="row">
          <div class="col-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Filter By</mat-label>
              <mat-select #filterByInput [(ngModel)]="selectedFilter" (selectionChange)="applyFilter()"
                          disableOptionCentering placeholder="Filter By">
                @for (filter of filter; track filter) {
                  <mat-option [value]="filter.value">
                    {{ filter.name }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-8">
            <mat-form-field appearance="outline" class="w-100 hide-hint">
              <mat-label>Search</mat-label>
              <input
                matInput
                placeholder="Search"
                (keyup.enter)="applyFilter()"
                #medicineNameInput
              />
            </mat-form-field>
          </div>
        </div>

        <div class="example-table-container responsive-table m-t-10">
          <table mat-table [dataSource]="data" matSort matSortActive="brand_name" matSortDisableClear
                 matSortDirection="asc" class="hover-table">
            <!-- Number Column -->
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                #
              </th>
              <td mat-cell *matCellDef="let row; let i = index">{{ ((paginator.pageIndex * pageSize ) + i ) + 1 }}</td>
            </ng-container>

            <!-- Medicine Name -->
            <ng-container matColumnDef="productName">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                Medicine Name
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                  {{ row.brandName }}
                </h6>
                <span class="f-s-14 f-s-12">
              {{ row.genericName }}
            </span>
              </td>
            </ng-container>

            <!-- Dosage -->
            <ng-container matColumnDef="unit">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                Unit
              </th>
              <td mat-cell *matCellDef="let row; let i = index">{{ row.unitName | uppercase }}</td>
            </ng-container>

            <!-- Dosage -->
            <ng-container matColumnDef="dosage">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                Dosage
              </th>
              <td mat-cell *matCellDef="let row; let i = index">{{ row.dosage }}</td>
            </ng-container>

            <!-- Action -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                Action
              </th>
              <td mat-cell *matCellDef="let row; let i = index">
                <a
                  mat-icon-button
                  class="d-flex align-items-center justify-content-center"
                  (click)="onEditMedicine(row);"
                >
                  <i-tabler
                    name="pencil"
                    class="icon-18 d-flex align-items-center"
                  ></i-tabler>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>

        @if(isLoadingResults || isError) {
          <div class="example-loading-shade">
            @if(isLoadingResults) {
              <mat-spinner></mat-spinner>
            }
          </div>
        }

      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Add Medicine">
    <app-add-medicine></app-add-medicine>
  </mat-tab>

  <mat-tab label="Edit Medicine">
    <app-edit-medicine [medicine]="selectedMedicine"></app-edit-medicine>
  </mat-tab>
</mat-tab-group>
