<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-end m-b-24">
      <div class="col-sm-4 text-right">
        <a routerLink="/apps/inventory-pharmacy/brands" mat-flat-button class="bg-error text-white m-r-10">
          Cancel
        </a>
        <button mat-flat-button color="primary">
          Save Brand
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>
    <div class="col-12 mt-2">
      <small class="text-muted">* Required fields are marked with an asterisk</small>
    </div>

  </mat-card-content>
</mat-card>
