<mat-tab-group selectedIndex="0">
  <mat-tab label="Pharmacy & Patients">
    <mat-card class="cardWithShadow">
      <mat-card-content>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Filter By</mat-label>
                  <mat-select #filterByInput [(ngModel)]="selectedFilter" (selectionChange)="getProducts()"
                              disableOptionCentering placeholder="Filter By">
                    @for (filter of filter; track filter) {
                      <mat-option [value]="filter.value">
                        {{ filter.name }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-8">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                  <mat-label>Search</mat-label>
                  <input
                    matInput
                    placeholder="Search..."
                    [(ngModel)]="medicineName"
                    (keyup.enter)="applyFilter()"
                    #medicineNameInput
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="example-table-container responsive-table">
              <table mat-table [dataSource]="data" matSort matSortActive="product_name" matSortDisableClear
                     matSortDirection="asc" class="hover-table">

                <!-- Medicine Name -->
                <ng-container matColumnDef="productName">
                  <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                    Medicine Name
                  </th>
                  <td mat-cell *matCellDef="let row; let i = index" (click)="addItemsToCustomerOrders(i)">
                    <div class="m-l-16" >
                      <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                        {{ row.brandName }}
                      </h6>
                      <span class="f-s-14 f-s-12">
                    {{ row.productName }}
                  </span>
                    </div>
                  </td>
                </ng-container>

                <!-- Unit -->
                <ng-container matColumnDef="unit">
                  <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                    Unit
                  </th>
                  <td mat-cell *matCellDef="let row; let i = index" (click)="addItemsToCustomerOrders(i)">
                    <div class="m-l-16" >
                  <span class="f-s-14 f-s-12">
                    {{ row.unit | uppercase }}
                  </span>
                    </div>
                  </td>
                </ng-container>

                <!-- Qty On Hand -->
                <ng-container matColumnDef="qtyOnHand">
                  <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                    Qty On Hand
                  </th>
                  <td mat-cell *matCellDef="let row; let i = index" (click)="addItemsToCustomerOrders(i)">
                    {{ row.qtyOnHand }}
                  </td>
                </ng-container>

                <!-- Selling Price -->
                <ng-container matColumnDef="sellingPrice">
                  <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                    Selling Price
                  </th>
                  <td mat-cell *matCellDef="let row; let i = index" (click)="addItemsToCustomerOrders(i)">
                    {{ row.sellingPrice }}
                  </td>
                </ng-container>

                <!-- Expiry Date -->
                <ng-container matColumnDef="expiryDate">
                  <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                    Expiry Date
                  </th>
                  <td mat-cell *matCellDef="let row; let i = index" (click)="addItemsToCustomerOrders(i)">
                    {{ row.expiryDate }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"
                    [class.info-row]="isExpiryInRange(row.expiryDate, 4, 6)"
                    [class.warning-row]="isExpiryInRange(row.expiryDate, 2, 3)"
                    [class.danger-row]="isExpiryInRange(row.expiryDate, 0, 1)">
                </tr>
              </table>
            </div>

            <mat-paginator [length]="resultsLength" [pageSize]="`${ pageSize }`"></mat-paginator>
          </div>

          <!-- Customer Order & Patient Information -->
          <div class="col-6">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <label id="example-radio-group-label">Order Type: </label>
                <mat-radio-group [(ngModel)]="selectedCustomerType" (ngModelChange)="setSelectedTabIndex($event)"
                                 aria-labelledby="example-radio-group-label" class="example-radio-group">
                  @for(type of customerType; track type) {
                    <mat-radio-button class="example-radio-button" color="primary" [value]="type">
                      {{ type }}
                    </mat-radio-button>
                  }
                </mat-radio-group>
              </div>
              <span class="text-primary"><strong>Today's Sales: PHP {{ todaysSales | number: '1.2-2' }}</strong></span>
            </div>
            <mat-tab-group [(selectedIndex)]="selectedTabIndex">
              <mat-tab label="Cart">
                <!-- Purchased Items -->
                <div *ngIf="proceedToPayment === false" class="cart-container">
                  <div class="example-table-container responsive-table" style="max-height: 500px;">
                    <table mat-table [dataSource]="purchasedItems" matSort matSortActive="product_name" matSortDisableClear
                         matSortDirection="asc" class="hover-table" style="width: 100%;">

                      <!-- Medicine Name -->
                      <ng-container matColumnDef="productName">
                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                          Medicine Name
                        </th>
                        <td mat-cell *matCellDef="let row; let i = index">
                          <div class="m-l-16" >
                            <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                              {{ row.brandName }}
                            </h6>
                            <span class="f-s-14 f-s-12">
                              {{ row.productName }}
                            </span>
                          </div>
                        </td>
                      </ng-container>

                      <!-- Unit -->
                      <ng-container matColumnDef="unit">
                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                          Unit
                        </th>
                        <td mat-cell *matCellDef="let row; let i = index">
                          <div class="m-l-16" >
                            <span class="f-s-14 f-s-12">
                              {{ row.unit | uppercase }}
                            </span>
                          </div>
                        </td>
                      </ng-container>

                      <!-- Qty -->
                      <ng-container matColumnDef="qty">
                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                          Qty
                        </th>
                        <td mat-cell *matCellDef="let row; let i = index">
                          <div *ngIf="showQtyInput && qtyInputIndex == i; else displayQty">
                            <mat-form-field appearance="outline" class="m-t-20" style="width: 90px;">
                              <input matInput name="qty" type="number"
                                     #qtyInput
                                     [value]="row.qty" (keyup.enter)="updateCustomerOrderQty(row, i)" />
                            </mat-form-field>
                          </div>
                          <ng-template #displayQty>
                            <span (click)="removeItemFromCustomerOrders(row)">{{ row.qty }}</span>
                          </ng-template>
                        </td>
                      </ng-container>

                      <!-- Price -->
                      <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                          Price
                        </th>
                        <td mat-cell *matCellDef="let row; let i = index">
                          {{ row.sellingPrice }}
                        </td>
                      </ng-container>

                      <!-- Action -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                          Action
                        </th>
                        <td mat-cell *matCellDef="let row; let i = index">
                          <a
                            mat-icon-button
                            class="d-flex align-items-center justify-content-center"
                            (click)="showQtyInput = true; qtyInputIndex = i;"
                          >
                            <i-tabler
                              name="pencil"
                              class="icon-18 d-flex align-items-center"
                            ></i-tabler>
                          </a>
                        </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="purchasedItemsColumns; sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: purchasedItemsColumns"
                          [class.info-row]="isExpiryInRange(row.expiryDate, 4, 6)"
                          [class.warning-row]="isExpiryInRange(row.expiryDate, 2, 3)"
                          [class.danger-row]="isExpiryInRange(row.expiryDate, 0, 1)">
                      </tr>
                    </table>
                  </div>

                  <mat-divider></mat-divider>
                  <div class="p-3 border-top" style="margin-top: 10px;">
                    <div class="row gap-6">
                      <!-- Total -->
                      <div class="col-12 d-flex justify-content-end">
                        <h3 class="m-0 me-3">Total: </h3>
                        <h3 class="m-0 text-primary"> {{ totalItemsPurchased | number: '1.2-2' }}</h3>
                      </div>

                      <!-- Less SC/PWD Discount -->
                      <div class="col-12 d-flex justify-content-end">
                        <mat-checkbox color="primary" [checked]="isSeniorCitizenPwdDiscounted" (change)="toggleScPwdDiscount($event)">
                          <h3>Senior Citizen/PWD Discount: {{ discountPercent }}% </h3>
                        </mat-checkbox>
                      </div>

                      <!-- Total Amount Due -->
                      <div class="col-12 d-flex justify-content-end">
                        <h3 class="m-0 me-3">Total Amount Due: </h3>
                        <h3 class="m-0 text-primary"> {{ totalItemsPurchasedDue | number: '1.2-2' }}</h3>
                      </div>
                    </div>
                  </div>

                  <!-- Payment -->
                  <div style="margin-top: 15px;">
                    <button mat-flat-button color="primary" class="w-100"
                            [disabled]="purchasedItems.length <= 0 || !selectedCustomerType"
                            (click)="processPayment(true)">
                      Proceed and Pay
                    </button>
                  </div>
                </div>

                <!-- Payment Confirmation -->
                <div *ngIf="proceedToPayment === true" style="margin-top: 10px; overflow: hidden;">
                  <div class="row gap-6">
                    <!-- Total -->
                    <div class="col-12 d-flex justify-content-start">
                      <h3 class="m-0 me-3">Total: </h3>
                      <h3 class="m-0 text-primary">{{ totalItemsPurchased | number: '1.2-2' }}</h3>
                    </div>

                    <!-- Less SC/PWD Discount -->
                    <div class="col-12 d-flex justify-content-start">
                      <h3>Senior Citizen/PWD Discount: {{ discountPercent }}% </h3>
                    </div>

                    <!-- Total Amount Due -->
                    <div class="col-12 d-flex justify-content-start">
                      <h3 class="m-0 me-3">Total Amount Due: </h3>
                      <h3 class="m-0 text-primary">{{ totalItemsPurchasedDue | number: '1.2-2' }}</h3>
                    </div>
                  </div>

                  <mat-divider style="margin-top: 10px;"></mat-divider>
                  <mat-form-field appearance="outline" class="w-100" style="margin-top: 10px;">
                    <mat-label>Cash</mat-label>
                    <input matInput placeholder="0" type="number"
                           (keyup)="calculateChange()" [(ngModel)]="cash" name="cash"/>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Change</mat-label>
                    <input matInput readonly placeholder="Change" type="number" [(ngModel)]="change" name="change"/>
                  </mat-form-field>

                  <div class="row">
                    <div class="col-6 d-flex justify-content-end">
                      <button mat-flat-button color="primary" class="w-100"
                              (click)="confirmPayment()" [disabled]="cash <= 0 || cash < totalItemsPurchasedDue">
                        Confirm Payment
                      </button>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                      <button mat-flat-button color="primary" class="w-100" (click)="processPayment(false)">
                        Back to Customer Order
                      </button>
                    </div>
                  </div>
                </div>
              </mat-tab>

              <!-- Patient Information -->
              <mat-tab label="Patient Information">
                <div class="m-t-5 m-b-10">
                  <strong>Note:</strong> For Prescription orders, please provide complete patient details. Required fields are marked with asterisk.
                </div>

                  <div *ngIf="showPrescriptionIdAndVisitId">
                    <div>
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Prescription Id *</mat-label>
                        <input matInput readonly placeholder="Prescription Id" type="text" value="{{ patient?.patientDiagnosisId  }}" />
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Visit Id *</mat-label>
                        <input matInput readonly placeholder="Visit Id" type="text" value="{{ patient?.visitId  }}" />
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Patient Id *</mat-label>
                        <input matInput readonly placeholder="Patient Id" type="text" value="{{ patient?.patientId  }}" />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="d-flex align-items-center w-100 gap-10">
                      <mat-form-field appearance="outline" class="flex-grow-1">
                        <mat-label>Patient Name *</mat-label>
                        <input matInput placeholder="Patient Name" #patientNameInput [value]="patient?.patientName" />
                      </mat-form-field>
                      <button mat-flat-button color="primary"
                              (click)="showPatientModal($event)"
                              class="btn-sm"
                              [disabled]="selectedCustomerType === 'Walk-in' || selectedCustomerType === ''"
                              style="margin-bottom: 20px;">Browse Patient</button>
                    </div>
                    <div>
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Address</mat-label>
                        <input matInput placeholder="Address" #addressInput type="text" value="{{ patient?.address  }}" />
                      </mat-form-field>
                    </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Patient Prescription Purchases">
    <app-prescription-purchases></app-prescription-purchases>
  </mat-tab>
</mat-tab-group>
