<!-- Remarks -->
<div *ngIf="showRemarksDiv">
  <div class="row justify-content-end m-t-10">
    <div class="col-3 text-right">
      <button mat-flat-button color="primary m-r-10"
              (click)="updatePatientVisitDetails(); showRemarksDiv = false">
        Update
      </button>
      <button mat-flat-button color="primary" (click)="showRemarksDiv = false">
        <mat-icon aria-hidden="true" style="margin-right:8px;">arrow_back</mat-icon>
        Back to Patient Visits
      </button>
    </div>
  </div>

  <div class="row m-t-10">
    <!-- Visit Id -->
    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Visit Id</mat-label>
        <input matInput readonly placeholder="Visit Id" value="{{ currentDiagnosis.visitId }}" name="visitId" />
      </mat-form-field>
    </div>

    <!-- Visit Date -->
    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Visit Date</mat-label>
        <input matInput readonly placeholder="Visit Date"
               value="{{ visits[currentPatientVisitRowIndex].visitDateTime | date: 'MM/dd/yyyy' }}"
               name="visitDate" />
      </mat-form-field>
    </div>

    <!-- Patient Complaints/Notes -->
    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Patient Complaints/Notes</mat-label>
        <textarea matInput placeholder="Patient Complaints/Notes"
                  #patientComplaintsNotesInput
                  value="{{ currentDiagnosis.patientComplaintsNotes }}"
                  name="patientComplaintsNotes"></textarea>
      </mat-form-field>
    </div>

    <!-- Followup -->
    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Follow-up</mat-label>
        <input matInput placeholder="Follow-up"
               #followupInput
               value="{{ currentDiagnosis.followup }}"
               name="followUp" />
      </mat-form-field>
    </div>

    <!-- Diagnosis -->
    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Diagnosis</mat-label>
        <textarea matInput placeholder="Diagnosis"
                  value="{{ currentDiagnosis.diagnosis }}"
                  #diagnosisInput
                  name="diagnosis"></textarea>
      </mat-form-field>
    </div>

    <!-- Remarks -->
    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Remarks</mat-label>
        <textarea matInput placeholder="Remarks"
                  value="{{ currentDiagnosis.remarks }}"
                  name="remarks" #remarksInput></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
<!-- End Remarks -->

<div style="position: relative; max-height: 300px; overflow: auto;">
  <table mat-table [dataSource]="visits" class="hover-table" *ngIf="!showRemarksDiv">
    <!-- Visit Id -->
    <ng-container matColumnDef="visitId">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
        Visit Id
      </th>
      <td mat-cell style="color: #1976d2; cursor: pointer;"
                      (click)="currentPatientVisitRowIndex = i; onPatientVisitRowClick(row.visitId, row);"
          class="visit-id-cell" *matCellDef="let row; let i = index">
        {{ row.visitId }}
      </td>
    </ng-container>

    <!-- Visit Type -->
    <ng-container matColumnDef="visitType">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
        Visit Type
      </th>
      <td mat-cell *matCellDef="let row; let i = index">
        {{ row.visitType }}
      </td>
    </ng-container>

    <!-- Date Time Visit -->
    <ng-container matColumnDef="dateTimeVisit">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
        Visit Date
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.visitDateTime | date: 'MM/dd/yyyy' }}
      </td>
    </ng-container>

    <!-- Diagnosis -->
    <ng-container matColumnDef="diagnosis">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
        Diagnosis
      </th>
      <td mat-cell *matCellDef="let row">
        {{ getDiagnosisByPatientIdAndVisitId(row.visitId) }}
        <h6 class="mat-subtitle-1 f-s-14 f-w-600 text-primary">
          Remarks: {{ getRemarksByPatientIdAndVisitId(row.visitId) }}
        </h6>
      </td>
    </ng-container>

    <!-- Action -->
    <ng-container matColumnDef="action" *ngIf="showActionsButton">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
        Action
      </th>
      <td mat-cell *matCellDef="let row; let i = index;">
        <div class="d-flex align-items-center gap-8">
          <!-- Print -->
          <a
            mat-icon-button
            class="d-flex align-items-center justify-content-center" (click)="
              printMedicalCertificate(row.visitId); patientId = row.patientId;
            ">
            <i-tabler
              name="printer"
              class="icon-18 d-flex align-items-center"
            ></i-tabler>
          </a>

          <!-- Edit -->
          <a
            mat-icon-button
            class="d-flex align-items-center justify-content-center"
            (click)="showRemarksDiv = true; currentDiagnosis = diagnosis[i]; currentPatientVisitRowIndex = i;"
          >
            <i-tabler
              name="pencil"
              class="icon-18 d-flex align-items-center"
            ></i-tabler>
          </a>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="visitsDisplayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: visitsDisplayedColumns; let i = index"></tr>
  </table>
</div>
