<mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onClickTab(selectedTabIndex)">
  <mat-tab label="List of Brands">
    <div class="example-container">
      <mat-card class="cardWithShadow">
        <mat-card-content>
          <div class="row">
            <div class="col-lg-12">
              <mat-form-field appearance="outline" class="w-100 hide-hint">
                <mat-label>Search by Brand Name</mat-label>
                <input
                  matInput
                  placeholder="Search by Brand Name"
                  [(ngModel)]="brandName"
                  (keyup.enter)="applyFilter()"
                  #brandNameInput
                />
              </mat-form-field>
            </div>
          </div>
          <div class="example-table-container responsive-table">
            <table mat-table [dataSource]="data" matSort matSortActive="date_created" matSortDisableClear
                   matSortDirection="desc" class="hover-table">
              <!-- Number Column -->
              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  #
                </th>
                <td mat-cell *matCellDef="let row; let i = index">{{ ((paginator.pageIndex * pageSize ) + i ) + 1 }}</td>
              </ng-container>

              <!-- Brand Name -->
              <ng-container matColumnDef="brandName">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  Brand Name
                </th>
                <td mat-cell *matCellDef="let row; let i = index"
                class="brand-name-cell" style="color: #1976d2; cursor: pointer;"
                    (click)="onViewBrand(row);">{{ row.brandName }}</td>
              </ng-container>

              <!-- Reference -->
              <ng-container matColumnDef="reference">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  Reference
                </th>
                <td mat-cell *matCellDef="let row; let i = index">{{ row.reference }}</td>
              </ng-container>

              <!-- Action -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
                  Action
                </th>
                <td mat-cell *matCellDef="let row; let i = index">
                  <div class="d-flex align-items-center">
                    <a
                      mat-icon-button
                      class="d-flex align-items-center justify-content-center"
                      (click)="onEditBrand(row);"
                    >
                      <i-tabler
                        name="pencil"
                        class="icon-18 d-flex align-items-center"
                      ></i-tabler>
                    </a>

                    <!-- Delete -->
                    <a
                      mat-icon-button
                      class="d-flex align-items-center justify-content-center"
                      [disabled]="row.reference > 0"
                      (click)="deleteBrand(row)"
                    >
                      <i-tabler
                        name="trash"
                        class="icon-18 d-flex align-items-center"
                      ></i-tabler>
                    </a>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>

          <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
        </mat-card-content>
      </mat-card>

    </div>
  </mat-tab>

  <mat-tab label="Add Brand">
    <app-add-brand></app-add-brand>
  </mat-tab>

  <mat-tab label="{{ editBrand }}" [disabled]="disableEditBrandTab">
    <app-edit-brand [brand]="selectedBrand" [currentTabIndex]="selectedTabIndex"></app-edit-brand>
  </mat-tab>

  <mat-tab label="{{ viewBrand }}" [disabled]="disableViewBrandTab" >
    <app-view-brand [brand]="selectedBrand" [currentTabIndex]="selectedTabIndex"></app-view-brand>
  </mat-tab>
</mat-tab-group>
