<div class="row justify-content-end m-t-10">
  <div class="col-sm-2 text-right">
    <button mat-flat-button color="primary" (click)="closeView()">
      <mat-icon aria-hidden="true" style="margin-right:8px;">arrow_back</mat-icon>
      Back to List
    </button>
  </div>
</div>
<div class="row m-t-10">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Patient Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-patient-information-medical-records></app-patient-information-medical-records>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row m-t-10">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Patient Visits</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-visits></app-visits>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-tab-group class="m-b-30">
  <mat-tab label="Patient Prescriptions {{ tabDetails }}">
    <mat-card>
      <mat-card-content>
        <app-prescriptions></app-prescriptions>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Vital Signs {{ tabDetails }}">
    <mat-card>
      <mat-card-content>
        <app-vital-signs></app-vital-signs>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
