<div *ngIf="showEditPrescriptionDiv" class="m-t-10 no-horizontal-scroll">
  <div class="row justify-content-end ">
    <div class="col text-right">
      <button mat-flat-button color="primary m-r-10"
              [disabled]="!dosageInput.value || !quantityInput.value"
              (click)="updatePrescription();">
        Update
      </button>
      <button mat-flat-button color="primary" (click)="showEditPrescriptionDiv = false">
        <mat-icon aria-hidden="true" style="margin-right:8px;">arrow_back</mat-icon>
        Back to Prescription Details
      </button>
    </div>
  </div>

  <small class="text-muted">* Required fields are marked with an asterisk</small>
  <div class="row m-t-10">
    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Brand Name</mat-label>
        <input matInput readonly placeholder="Brand Name" name="brandName" value="{{ selectedPrescription.brandName }}" />
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Generic Name</mat-label>
        <input matInput readonly placeholder="Generic Name" name="productName" value="{{ selectedPrescription.productName }}" />
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Unit</mat-label>
        <input matInput readonly placeholder="Unit" name="unit" value="{{ selectedPrescription.unit | uppercase }}" />
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Qty *</mat-label>
        <input matInput placeholder="Qty *" #quantityInput name="qty" type="number" value="{{ selectedPrescription.quantity }}" />
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Dosage *</mat-label>
        <input matInput placeholder="Dosage *" #dosageInput name="dosage" value="{{ selectedPrescription.dosage }}" />
      </mat-form-field>
    </div>

    <div class="col-12">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Instructions</mat-label>
        <input matInput placeholder="Instructions" #instructionInput name="instructions" value="{{ selectedPrescription.instructions }}" />
      </mat-form-field>
    </div>

    <div class="col-6 d-flex">

    </div>
    <div class="col-6 d-flex">

    </div>
  </div>
</div>

<div class="example-table-container responsive-table no-horizontal-scroll" *ngIf="!showEditPrescriptionDiv">
  <div class="row justify-content-end">
    <div class="col-4 text-right">
      <button mat-flat-button color="primary m-r-10" (click)="printPatientPrescription()">
        Print Prescription
      </button>
      <button mat-flat-button color="primary" (click)="showEditDiv()">
        Add Additional Prescription
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="prescriptions" class="hover-table">
    <!-- Date Time Visit -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
        Medicine Name
      </th>
      <td mat-cell *matCellDef="let row">
        <h6 class="mat-subtitle-1 f-s-14 f-w-600">
          {{ row.brandName }}
        </h6>
        <span class="f-s-14 f-s-12">
              {{ row.productName }}
            </span>
      </td>
    </ng-container>

    <!-- Dosage -->
    <ng-container matColumnDef="dosage">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
        Dosage
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.dosage }}
      </td>
    </ng-container>

    <!-- Quantity -->
    <ng-container matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
        Quantity
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.quantity }}
      </td>
    </ng-container>

    <!-- Unit -->
    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
        Unit
      </th>
      <td mat-cell *matCellDef="let row">
        {{ row.unit | uppercase }}
      </td>
    </ng-container>

    <!-- Action -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-16">
        Action
      </th>
      <td mat-cell *matCellDef="let row">
        <div class="d-flex align-items-center gap-8">
          <a
            mat-icon-button
            class="d-flex align-items-center justify-content-center"
            (click)="showEditPrescriptionDiv = true; selectedPrescription = row;"
          >
            <i-tabler
              name="pencil"
              class="icon-18 d-flex align-items-center"
            ></i-tabler>
          </a>

          <a
            mat-icon-button
            class="d-flex align-items-center justify-content-center"
            (click)="deletePrescription(row)"
          >
            <i-tabler
              name="trash"
              class="icon-18 d-flex align-items-center"
            ></i-tabler>
          </a>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="prescriptionsDisplayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: prescriptionsDisplayedColumns; let i = index"></tr>
  </table>
</div>
